Repository ToxicToast/Azkaban_V2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint

fix: prettier
  apps/inventory-admin/src/tailwind.scss
Due: prettier --list-different

fix: lint errors
  .eslintrc.json
  libs/inventory-infrastructure/project.json
Due: none

fix: lint Errors
  libs/inventory-redux/src/lib/auth/auth.extraReducer.ts
  libs/inventory-redux/src/lib/auth/auth.slice.ts
  libs/ui-components/src/lib/hooks/auth.hook.ts
Due: prettier --list-different, eslint

fix: build error
  apps/gateway-service/src/app/auth/auth.controller.ts
  apps/gateway-service/src/app/auth/auth.module.ts
  apps/gateway-service/src/app/auth/auth.service.ts
  apps/gateway-service/src/app/auth/webhook.service.ts
  apps/inventory-admin/src/app/layout/authenticated.layout.tsx
  apps/webhook-service/src/app/webhook/webhook.controller.ts
  libs/shared/src/lib/enums/webhook-topic.enum.ts
  libs/ui-components/src/lib/hooks/index.ts
Due: prettier --list-different, eslint

fix: Docker Command
  package.json
Due: none

fix: Webhook Dockerfile
  apps/webhook-service/Dockerfile
Due: none

fix: missing mysql package in package.json
  apps/inventory-category-service/Dockerfile
  apps/inventory-company-service/Dockerfile
  apps/inventory-item-service/Dockerfile
  apps/inventory-location-service/Dockerfile
  apps/inventory-size-service/Dockerfile
  apps/inventory-type-service/Dockerfile
Due: none

chore: add workflow
  .github/workflows/failed.yml
Due: none

fix: Workflow
  .github/workflows/failed.yml
Due: none

chore: twitch hook docker build depends on build
  apps/twitch-hook-service/project.json
Due: none

Path conditions:
  prettier --list-different: (any of: *.{css,scss}) or (any of: *.{js,jsx,ts,tsx})
  eslint: any of: *.{js,jsx,ts,tsx}
