Repository ToxicToast/Azkaban_V2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint

fix: parent id
  apps/inventory-admin/src/app/category/modal/change-parent.tsx
  apps/inventory-admin/src/app/category/modal/view-model.ts
  apps/inventory-admin/src/app/category/modal/view.tsx
  apps/inventory-admin/src/app/category/table/view.tsx
  apps/inventory-admin/src/app/core/category/category.hook.ts
  apps/inventory-admin/src/app/core/category/category.reducer.ts
  apps/inventory-admin/src/app/core/category/category.slice.ts
Due: prettier --list-different, eslint

chore: Add App Name
  apps/inventory-admin/src/app/category/table/view.tsx
  apps/inventory-admin/src/index.html
  libs/ui-inventory-layout/src/lib/Sidebar.tsx
Due: prettier --list-different, eslint

chore: add Inventory Admin Name + dockerignore file
  .dockerignore
  apps/inventory-admin/src/index.html
  libs/ui-inventory-layout/src/lib/Sidebar.tsx
Due: prettier --list-different, eslint

feat: Add Category Screen, Add Update Partials, Refactored Docker Images + add dockerignore file
  apps/gateway-service/Dockerfile
  apps/inventory-admin/src/app/category/header/view-model.ts
  apps/inventory-admin/src/app/category/header/view.tsx
  apps/inventory-admin/src/app/category/modal/partials/add-category.partial.tsx
  apps/inventory-admin/src/app/category/modal/partials/change-parent.partial.tsx
  apps/inventory-admin/src/app/category/modal/partials/change-status.partial.tsx
  apps/inventory-admin/src/app/category/modal/view-model.ts
  apps/inventory-admin/src/app/category/modal/view.tsx
  apps/inventory-admin/src/app/category/table/partials/table-body-empty.partial.tsx
  apps/inventory-admin/src/app/category/table/partials/table-body-row.partial.tsx
  apps/inventory-admin/src/app/category/table/partials/table-footer-empty.partial.tsx
  apps/inventory-admin/src/app/category/table/partials/table-header-count.partial.tsx
  apps/inventory-admin/src/app/category/table/view-model.ts
  apps/inventory-admin/src/app/category/table/view.tsx
  apps/inventory-admin/src/app/core/category/category.api.tsx
  apps/inventory-admin/src/app/core/category/category.extraReducer.ts
  apps/inventory-admin/src/app/core/category/category.hook.ts
  apps/inventory-admin/src/app/core/category/category.selector.ts
  apps/inventory-category-service/Dockerfile
  apps/inventory-company-service/Dockerfile
  apps/twitch-bot-service/Dockerfile
Due: prettier --list-different, eslint

fix: change api url
  libs/inventory-redux/src/lib/dynamicBaseQuery.ts
Due: prettier --list-different, eslint

chore: add github workflows
  .github/dependabot.yml
  .github/workflows/feature.yml
  .github/workflows/versioning.yml
Due: none

chore: remove console and run prettier
  .eslintrc.json
  apps/inventory-admin/src/index.html
  apps/inventory-admin/src/styles.css
  libs/inventory-domain/src/lib/aggregates/category.aggregate.ts
Due: prettier --list-different, eslint

chore: remove eventsub + fix lint errors
  libs/inventory-domain/src/lib/factories/item-detail.factory.ts
  libs/inventory-redux/src/lib/auth/auth.reducer.ts
  libs/shared/src/lib/twitch/authentication.interface.ts
  libs/toasty/src/bot.ts
  libs/toasty/src/eventsub.ts
Due: prettier --list-different, eslint

chore: fix more lint errors
  apps/gateway-service/src/app/sse/sse.module.ts
  apps/gateway-service/src/app/sse/twitch.controller.ts
  apps/gateway-service/src/main.ts
  apps/inventory-category-service/src/app/health/health.controller.ts
  apps/inventory-company-service/src/main.ts
  apps/twitch-bot-service/project.json
  apps/twitch-bot-service/src/main.ts
  package.json
Due: prettier --list-different, eslint

fix: lint options + lint errors
  apps/inventory-admin/project.json
  apps/inventory-admin/src/app/category/modal/partials/edit-category.partial.tsx
  apps/inventory-admin/src/app/layout/guest.layout.tsx
  libs/inventory-redux/src/lib/auth/auth.selector.ts
  libs/ui-components/project.json
  libs/ui-inventory-layout/project.json
Due: prettier --list-different, eslint

chore: prettier
  apps/inventory-admin/project.json
  libs/inventory-domain/__tests__/aggregates/category.aggregate.spec.ts
  libs/ui-components/project.json
  libs/ui-inventory-layout/project.json
  package.json
Due: prettier --list-different, eslint

feat: finish category
  apps/inventory-admin/src/app/category/modal/partials/delete-category.partial.tsx
  apps/inventory-admin/src/app/category/modal/partials/restore-category.partial.tsx
  apps/inventory-admin/src/app/category/modal/view-model.ts
  apps/inventory-admin/src/app/category/modal/view.tsx
  apps/inventory-admin/src/app/category/table/partials/table-row-actions.partial.tsx
  apps/inventory-admin/src/app/category/table/view.tsx
  libs/inventory-redux/src/lib/category/category.api.ts
  libs/inventory-redux/src/lib/category/category.extraReducer.ts
  libs/inventory-redux/src/lib/category/category.hook.ts
  libs/inventory-redux/src/lib/category/category.interface.ts
  libs/inventory-redux/src/lib/category/category.reducer.ts
Due: prettier --list-different, eslint

feat: Add new Pages (WIP), Add Alert Component, Refac Table Actions
  apps/inventory-admin/src/app/brands/header/view.tsx
  apps/inventory-admin/src/app/brands/page.tsx
  apps/inventory-admin/src/app/category/table/partials/table-row-actions.partial.tsx
  apps/inventory-admin/src/app/category/table/view.tsx
  apps/inventory-admin/src/app/locations/page.tsx
  apps/inventory-admin/src/app/products/page.tsx
  apps/inventory-admin/src/app/routes.tsx
  apps/inventory-admin/src/tailwind.scss
  apps/inventory-admin/tailwind.config.js
  libs/ui-components/src/lib/shadn/Alert.tsx
  libs/ui-components/src/lib/shadn/index.ts
  libs/ui-inventory-layout/src/lib/WorkInProgress.tsx
  libs/ui-inventory-layout/src/lib/index.ts
Due: prettier --list-different, eslint

chore: prettier
  apps/inventory-admin/src/tailwind.scss
Due: prettier --list-different

chore: update workspace
  migrations.json
  package-lock.json
  package.json
Due: none

chore: update outdated Nestjs
  package-lock.json
  package.json
Due: none

chore: update nestjs schematics
  package-lock.json
  package.json
Due: none

chore: update twurple
  package-lock.json
  package.json
Due: none

chore: bump docker version
  apps/gateway-service/project.json
  apps/inventory-admin/project.json
  apps/inventory-category-service/project.json
  apps/inventory-company-service/project.json
  apps/twitch-bot-service/project.json
Due: none

feat: Add Auth Controller to Gateway
  apps/gateway-service/src/app/app.module.ts
  apps/gateway-service/src/app/auth/auth.controller.ts
  apps/gateway-service/src/app/auth/auth.module.ts
  apps/gateway-service/src/app/auth/auth.type.ts
  apps/gateway-service/src/app/inventory/category/category.controller.ts
Due: prettier --list-different, eslint

chore: disable a11y and fix lint error
  .eslintrc.json
  apps/gateway-service/.env
  apps/inventory-admin/src/app/layout/guest.layout.tsx
  libs/ui-components/src/lib/shadn/Input.tsx
Due: prettier --list-different, eslint

chore: update readme
  README.md
Due: none

chore: add release workflow, add versioning to feature branch with default bump
  .github/workflows/feature.yml
  .github/workflows/release.yml
  .github/workflows/versioning.yml
Due: none

fix: Workflow Naming
  .github/workflows/feature.yml
  .github/workflows/release.yml
Due: none

feat: Generate NestJS Project
  apps/inventory-item-service-e2e/.eslintrc.json
  apps/inventory-item-service-e2e/jest.config.ts
  apps/inventory-item-service-e2e/project.json
  apps/inventory-item-service-e2e/src/inventory-item-service/inventory-item-service.spec.ts
  apps/inventory-item-service-e2e/src/support/global-setup.ts
  apps/inventory-item-service-e2e/src/support/global-teardown.ts
  apps/inventory-item-service-e2e/src/support/test-setup.ts
  apps/inventory-item-service-e2e/tsconfig.json
  apps/inventory-item-service-e2e/tsconfig.spec.json
  apps/inventory-item-service/.eslintrc.json
  apps/inventory-item-service/jest.config.ts
  apps/inventory-item-service/project.json
  apps/inventory-item-service/src/app/app.controller.spec.ts
  apps/inventory-item-service/src/app/app.controller.ts
  apps/inventory-item-service/src/app/app.module.ts
  apps/inventory-item-service/src/app/app.service.spec.ts
  apps/inventory-item-service/src/app/app.service.ts
  apps/inventory-item-service/src/assets/.gitkeep
  apps/inventory-item-service/src/main.ts
  apps/inventory-item-service/tsconfig.app.json
  apps/inventory-item-service/tsconfig.json
  apps/inventory-item-service/tsconfig.spec.json
  apps/inventory-item-service/webpack.config.js
  nx.json
  package-lock.json
  package.json
Due: prettier --list-different, eslint

chore: Remove e2e, add .env to gitignore file
  .gitignore
  apps/inventory-item-service-e2e/.eslintrc.json
  apps/inventory-item-service-e2e/jest.config.ts
  apps/inventory-item-service-e2e/project.json
  apps/inventory-item-service-e2e/src/inventory-item-service/inventory-item-service.spec.ts
  apps/inventory-item-service-e2e/src/support/global-setup.ts
  apps/inventory-item-service-e2e/src/support/global-teardown.ts
  apps/inventory-item-service-e2e/src/support/test-setup.ts
  apps/inventory-item-service-e2e/tsconfig.json
  apps/inventory-item-service-e2e/tsconfig.spec.json
Due: prettier --list-different, eslint

feat: fix method name for inventory microservices, add new queue, make item main a microservice
  apps/inventory-category-service/src/main.ts
  apps/inventory-company-service/src/main.ts
  apps/inventory-item-service/src/app/app.controller.spec.ts
  apps/inventory-item-service/src/app/app.controller.ts
  apps/inventory-item-service/src/app/app.module.ts
  apps/inventory-item-service/src/app/app.service.spec.ts
  apps/inventory-item-service/src/app/app.service.ts
  apps/inventory-item-service/src/main.ts
  libs/shared/src/lib/enums/queue.enum.ts
  package.json
Due: prettier --list-different, eslint

chore: add docker build
  apps/inventory-item-service/Dockerfile
  apps/inventory-item-service/project.json
Due: none

chore: add health and metrics
  apps/gateway-service/src/app/app.module.ts
  apps/inventory-company-service/src/app/app.module.ts
  apps/inventory-item-service/src/app/app.module.ts
  apps/inventory-item-service/src/app/health/health.controller.ts
  apps/inventory-item-service/src/app/health/health.module.ts
  apps/inventory-item-service/src/app/metrics/metrics.controller.ts
  apps/inventory-item-service/src/app/metrics/metrics.module.ts
Due: prettier --list-different, eslint

chore: new Package.lock file
  package-lock.json
Due: none

chore: Change Ports of Dockerfiles
  apps/inventory-category-service/Dockerfile
  apps/inventory-company-service/Dockerfile
  apps/inventory-item-service/Dockerfile
  apps/inventory-item-service/src/app/metrics/metrics.module.ts
  apps/twitch-bot-service/Dockerfile
Due: prettier --list-different, eslint

fix: Fix Metrics
  apps/gateway-service/src/app/metrics/metrics.controller.ts
  apps/inventory-category-service/src/app/metrics/metrics.controller.ts
  apps/inventory-company-service/src/app/metrics/metrics.controller.ts
  apps/inventory-item-service/src/app/metrics/metrics.controller.ts
Due: prettier --list-different, eslint

chore: prettifier
  .github/workflows/feature.yml
  .github/workflows/versioning.yml
  apps/inventory-item-service/src/app/health/health.controller.ts
Due: prettier --list-different, eslint

Log Metrics for Response
  apps/gateway-service/src/app/metrics/metrics.controller.ts
  apps/inventory-category-service/src/app/metrics/metrics.controller.ts
  apps/inventory-company-service/src/app/metrics/metrics.controller.ts
  apps/inventory-item-service/src/app/metrics/metrics.controller.ts
  apps/twitch-bot-service/src/app/metrics/metrics.controller.ts
  package-lock.json
Due: prettier --list-different, eslint

chore: npm install with --no-optional
  .github/workflows/feature.yml
  .github/workflows/versioning.yml
Due: none

chore: remove package-lock - generate new later
  package-lock.json
Due: none

chore: cicd gods - pls?
  package-lock.json
Due: none

chore: back to npm i
  .github/workflows/feature.yml
  .github/workflows/versioning.yml
Due: none

Path conditions:
  prettier --list-different: (any of: *.{css,scss}) or (any of: *.{js,jsx,ts,tsx})
  eslint: any of: *.{js,jsx,ts,tsx}
